.about {
  margin: 130px auto 250px;
  max-width: 1677px;
  min-height: 710px;
  background-color: #ffffff;
  background-image: url("../../img/coma.png");
  background-repeat: no-repeat;
  background-size: none;
  background-position-x: 90%;
  background-position-y: 400px;


  .man {
    img {
      top: -90px;
      left: 100px;
      position: absolute;
    }

    .play {
      top: 250px;
      left: 300px;
      position: absolute;
      display: block;
      transition: 0.3s;
      &:hover {
        transform: scale(1.1);
      }
    }

  }

  p {
    margin-top: 220px;
    max-width: 720px;
    font-family: $font-stack;
    font-size: 2.625em;
    font-weight: 400;
    margin-left: 100px;
  }
  .name {
    margin-left: 100px;
    margin-top: 30px;
    font-family: $font-stack;
    color: #333333;
    font-size: 1.125em;
    font-weight: 700;
    display: block;
  }
  .position {
    margin-left: 100px;
    font-family: $font-stack;
    font-weight: 400;
    font-size: 1.125em;
    display: block;
    color: #848a9c;
  }
  .link {
    margin-top: 30px;
    margin-left: 85px;
  }
}

@media (max-width: 1366px) {
  .text {
    box-sizing: border-box;
  }
  .about {
    min-height: 650px;
    .man {

      .img-man {
        height: 114%;
        opacity: 0.8;
      }
    }
    p {
      margin-top: 110px;
    }
    p, span {
      font-size: 2em;
    }
  }
}

@media (max-width: 1199px) {
  .about {
    min-height: 561px;
    background-image: none;
    .man {
      .img-man {
        height: 650px;
        opacity: 0.5;
      }
      .play {
        display: none;
      }
    }
    .text {
      margin-top: -100px;
    }
  }
}

@media (max-width: 768px) {
  .about {
    p {
      margin-top: 220px;
      margin-left: 10px;
    }
    .name, .position, .link {
      margin-left: 10px;
    }
    .play {
      display: none;
    }
    .man {
      display: none;
    }
  }
}

@media (max-width: 540px) {
  .about {
    padding: 30px 0px;
    min-height: 100%;
    margin-bottom: 100px;
    p {
      font-size: 1.5em;
      margin-top: 110px;
    }
  }
}
