.publications {
  max-width: 1440px;
  margin: 0 auto;
  .publications_group {
    .publications_headline {
      margin-top: 25px;
      margin-bottom: 38px;
    }
    .link {
      margin-bottom: 20px;
      margin-left: -10px;
    }
  }
  .publications_article {
    .media {
      margin-bottom: 100px;
      .media-body {
        font-family: $font-stack;
        .title {
          font-size: 1.500em;
          font-weight: 400;
        }
        .name {
          font-size: 1.125em;
          font-weight: 700;
        }
        .position {
          font-size: 1.125em;
          font-weight: 400;
        }
      }
    }
  }
  a {
    text-decoration: none;
    .media {
      color: #231b23;
      &:hover {
        text-decoration: none;
        .image::after {
          opacity: 0.5;
          animation: fade 0.3s linear;
          display: block;
          content:'';
          width: 120px;
          height: 117px;
          left: 0px;
          top: 0px;
          position: absolute;
          border-radius: 50%;
          background-color: #c62c50;
        }
        .media-body {
          .title {
            color: #c62c50;
          }
        }
      }
      .image {
        float: left;
        position: relative;
        transition: 0.3s;
        margin-bottom: 40px;
        img {
          max-width: 120px;
          max-height: 117px;
          border-radius: 50%;
          margin-right: 40px;
        }
        &::after {
          z-index: 10;
          opacity: 0;
        }
        &:hover::after{

        }

        @keyframes fade {
          0% {
            opacity: 0.1;
          }
          50% {
            opacity: 0.3;
          }
          100% {
            opacity: 0.5;
          }
        }
      }
    }
  }


}